
<div class="header">
   <div class="header1">
      <div class="header_img">
         <a href="/index"> <img src="https://www.shutterstock.com/shutterstock/photos/614959772/display_1500/stock-vector-js-logo-614959772.jpg" class="logo" alt=""></a>
      </div>
      <div class="header_center"><h1>Welcome To Weather App</h1></div>

        
    <div class="header_sec">



          {{#if auth}}
           <a href="/logout">Logout</a>
           {{!-- <a href="#">{{first}}</a> --}}
           <a href="/book">Book</a>
           <a href="/secret">Home</a>
          {{else}}
           <a href="/">Register</a>
           <a href="/login">Login</a>
           <a href="/signup" class="ba">Signup </a>

          {{/if}}
          {{!-- <a href="/secret" class="ba">Secret</a> --}}
         {{!-- //??? --}}
           
     {{!-- {{#if first}}
     <a href="/signup" class="ba">{{first}} </a>
     {{else}}
      <a href="/signup" class="ba">Home</a>
     {{/if}} --}}




   </div>
   </div>
    {{!-- Mustard(todo) dfdf --}}
    {{!-- //??? --}}
    {{!-- ToDo dkfds --}}


</div>

