<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
</head>
<body>
    {{>nav}}
    <div class="form_body">
   <div class="form-container">
        <form action="/register" method="POST" id="registration-form">
            <h2>Registration Form</h2>

              <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required>

          
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmpassword">Confirm Password</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>
            
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" required>
            
            <label for="gender">Gender</label>
            <label><input type="radio" name="gender" value="male" required> Male</label>
            <label><input type="radio" name="gender" value="female" required> Female</label>
            
            <button type="submit">Submit</button>
        </form>
    
    </div>
    </div>
    
</body>
</html>

