  <!DOCTYPE html>
  <html lang="en">
  <head>
    {{>header}}
      
      <link rel="stylesheet" href="/css/cloc.css">
      <link rel="stylesheet" href="/css/sstyle.css">
      <script src="/css/index.js"></script>
          
      <script src="weather.js"></script>

      
  </head>
  <body >
    {{>nav}}
    

        <div class="container" onload="getData()">
             <div class="main">
              <input id="search" type="text" onchange="getData()" value="raipur">
       
        <div class="section">
           <h1 id="temp">14 <sup>0</sup></h1>
           <p>Clecius</p>
            <p>
                Wind  speed: <span id="th">20</span>
            </p>
            <p>
                Humidity: <span id="h">20</span>
            </p>
            
            
        </div>
        </div>
    

    

    


    
  </body>
  </html>